body {
    font-family: sans-serif;
}

header {
    color: whitesmoke;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-left {
    float: left;
    padding-left: 25%;
}

.header-right {
    float: right;
    padding-right: 25%;
    padding-top: 10px;
    top: 0;
}

.header-right ul {
    list-style: none;
    overflow: hidden;
}

.header-right ul > li {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin: 0 5px;
}

.header-right a {
    color: whitesmoke;
    text-decoration: none;
}

.header-right a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}